<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<th:block th:include="@{/layout/user/includes/head.html}"></th:block>
<link rel="stylesheet" type="text/css" href="/css/user_board.css">

<!-- head 끝 -->

<body>
	<div class="wrap">
		<!-- header -->
		<th:block th:include="@{/layout/user/includes/header.html}"></th:block>
		<!-- header 끝 -->
		<h2>조회 [[${dto.title }]]</h2>
		<hr>
		<div class="mb-3 mt-3 clearfix">
			<span class="float-start me-2">No.: [[${dto.inquiryNo }]]</span> <span
				class="float-end ms-4">작성일: [[${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</span>
		</div>
		<!-- section -->
		<section>
			<th:block th:include="@{/layout/admin/includes/menubar.html}"></th:block>


			<!-- 내용 입력 -->
			<div class="mb-3">
                <label for="id">작성자:</label>
                 <div class="border bg-light rounded p-2" >[[${dto.id }]]</div>
            </div>    
            <div class="mb-3 mt-3">
                <label for="title">제목:</label>
                 <div class="border bg-light rounded p-2" >[[${dto.title }]]</div>
            </div>    
            <div class="mb-3 mt-3">
                <label for="content">내용:</label>
                 <div class="border bg-light rounded p-2" >[[${dto.content }]]</div>
            </div>   


            <button type="button" class="btn btn-outline-dark" th:onclick="'location.href=\'' + @{user_inquiry_update(inquiryNo=${dto.inquiryNo})} + '\''">수정</button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='/layout/user/board/user_inquiry_list'">목록</button>
            <button type="button" class="btn btn-outline-dark" th:onclick="'chkDelete(' + ${dto.inquiryNo} + ')'">삭제</button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='/layout/user/board/user_inquiry_write'">작성</button>

			<!-- 내용 입력 끝 -->
		</section>
		<!-- section 끝 -->

		<!-- footer -->
		<th:block th:include="@{/layout/user/includes/footer.html}"></th:block>
		<!-- footer 끝 -->
	</div>
	<!-- plugin -->
	<th:block th:include="@{/layout/user/includes/plugin.html}"></th:block>
	<!-- plugin 끝 -->
</body>

</html>