<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<th:block th:include="@{/layout/user/includes/head.html}"></th:block>
<link rel="stylesheet" type="text/css" href="/css/user_board.css">
<link th:href="@{/css/product.css}" rel="stylesheet" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- head 끝 -->

<body>
	<div class="wrap">
		<!-- header -->
		<th:block th:include="@{/layout/user/includes/header.html}"></th:block>
		<!-- header 끝 -->

		<!-- section -->
		<section>
			<th:block th:include="@{/layout/admin/includes/menubar.html}"></th:block>


			<!-- 내용 입력 -->
			<div class="notice">
				<div class="notice_title">1:1 문의 작성</div>
				<div class="inquiry_content">
					<form id="frm" name="frm" action="user_inquiry_writeOk"
						method="post" onsubmit="return chkSubmit()"
						enctype="Multipart/form-data">

						<div class="notice_list_title total">
							<label class="lab" for="title">제목</label> <input type="text"
								class="form-control" id="title" placeholder="제목을 입력하세요"
								name="title">
						</div>

						<div class="notice_list_writer total">
							<label class="lab" for="id">작성자</label> <input type="text"
								class="form-control" id="id" th:value="${session.member.name }" name="id"
								readonly="readonly">
						</div>

						<div class="notice_list_content total">
							<label class="lab lab_content" for="content">내용</label>
							<textarea class="form-control" rows="5" id="content"
								placeholder="내용을 입력하세요" name="content" style="resize: none;"></textarea>
						</div>

						<!-- 첨부파일 -->

						<div class="container mt-3 mb-3 border rounded">
							<div class="mb-3 mt-3 total">
								<span class="lab"> 이미지</span> 
								<input type="text" id="product_image_value" class="arr-bg arr-size-2 product_image_value" disabled /> 
								<input type="file" name="image" id="product_image_orgin_name"class="product_image_orgin_name" /> 
								<label for="product_image_orgin_name" class="product_image_label fileselect">파일선택 </label>
								
							</div>
						</div>
						
						<!-- 첨부파일 -->

						<button type="submit" class="btn btn-outline-dark"
							style="bottom: 100px">작성완료</button>
						<button type="button" class="btn btn-outline-dark write_save"
							onclick="location.href='/layout/user/board/user_inquiry_list'"
							style="bottom: 100px">목록</button>
					</form>
				</div>
			</div>

			<!-- 내용 입력 끝 -->
		</section>
		<!-- section 끝 -->

		<!-- footer -->
		<th:block th:include="@{/layout/user/includes/footer.html}"></th:block>
		<!-- footer 끝 -->
	</div>
	<!-- plugin -->
	<th:block th:include="@{/layout/user/includes/plugin.html}"></th:block>
		<script th:src="@{/js/board.js}"></script>
	<!-- plugin 끝 -->
</body>

</html>