<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<th:block th:include="@{/layout/user/includes/head.html}"></th:block>
<link rel="stylesheet" type="text/css" href="/css/user_board.css">

<!-- head 끝 -->

<body>
	<div class="wrap">
		<!-- header -->
		<th:block th:include="@{/layout/user/includes/header.html}"></th:block>
		<!-- header 끝 -->

		<!-- section -->
		<section>
			<th:block th:include="@{/layout/admin/includes/menubar.html}"></th:block>


			<!-- 내용 입력 -->
			<div class="notice">
				<div class="notice_title">공지사항</div>
				<div class="notice_content">
					<table class="notice_content_table">
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일</th>
								<th>조회수</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="dto: ${user_notice_list}">
								<td>[[${dto.noticeNo }]]</td>
								<td><a th:href="@{user_notice_view(noticeNo=${dto.noticeNo })}">[[${dto.title }]]</a></td>
								<td>[[${dto.id.name }]]</td>
								<td>[[${#temporals.format(dto.createdAt, 'yyyy-MM-dd HH:mm') }]]</td>
								<td>[[${dto.viewCnt }]]</td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>

			<!-- 내용 입력 끝 -->
		</section>
		<!-- section 끝 -->

		<!-- footer -->
		<th:block th:include="@{/layout/user/includes/footer.html}"></th:block>
		<!-- footer 끝 -->
	</div>
	<!-- plugin -->
	<th:block th:include="@{/layout/user/includes/plugin.html}"></th:block>
	<!-- plugin 끝 -->
</body>

</html>