<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<th:block th:include="@{/layout/admin/includes/head.html}"></th:block>
<link rel="stylesheet" type="text/css" href="/css/board.css">



<!-- head 끝 -->
<body class="sb-nav-fixed">
	<!--header menu-->
	<th:block th:include="@{/layout/admin/includes/header.html}"></th:block>
	<!--header menu 끝-->
	<!-- 본문 -->
	<div id="layoutSidenav">
		<!--sidebar-->
		<th:block th:include="@{/layout/admin/includes/sidebar.html}"></th:block>
		<!--sidebar 끝-->
		<!--content-->
		<div id="layoutSidenav_content">
			<main>

				<!--내용 입력-->
				<div class="page-body">
					<div class="main-hd">
						<h2>1:1문의관리</h2>
					</div>

					<div class="sect-top mt-30">
						<form id="searchForm">
							<input type="hidden" name="page" value="1">
							<div class="tbl-setting">
								<table>
									<caption></caption>
									<colgroup>
										<col class="w140">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th class="txt-l">문의일</th>
											<td>
												<ul class="arr-align">
													<li class="w40per period-6x"><a href="javascript:;"
														class="btn-toggle btn-dateterm" sdate="2021-12-19"
														edate="2021-12-19">오늘</a> <a href="javascript:;"
														class="btn-toggle btn-dateterm" sdate="2021-12-18"
														edate="2021-12-18">어제</a> <a href="javascript:;"
														class="btn-toggle btn-dateterm now" sdate="2021-12-12"
														edate="2021-12-19">1주일</a> <a href="javascript:;"
														class="btn-toggle btn-dateterm" sdate="2021-11-19"
														edate="2021-12-19">1개월</a> <a href="javascript:;"
														class="btn-toggle btn-dateterm" sdate="2021-09-19"
														edate="2021-12-19">3개월</a> <a href="javascript:;"
														class="btn-toggle btn-dateterm" sdate="2021-06-19"
														edate="2021-12-19">6개월</a></li>
													<li class="w40per calendar"><label> <input
															type="date" name="startDate" value="2021-12-12"
															id="dp1639908421652" class="hasDatepicker">
													</label> <span>~</span> <label> <input type="date"
															name="endDate" value="2021-12-19" id="dp1639908421653"
															class="hasDatepicker">
													</label></li>
												</ul>
											</td>
										</tr>
										<tr>
											<th class="txt-l">구분</th>
											<td><select style="width: 230px"
												name="commentExistsType">
													<option value="">--답변여부 전체--</option>
													<option value="*">답변완료</option>
													<option value="0">미답변</option>
											</select></td>
										</tr>
										<tr>
											<th class="txt-l">키워드</th>
											<td>
												<ul class="arr-align">
													<li class="w20per"><select name="keywordType">
															<option value="">--검색 키워드--</option>
															<option value="prdName">상품명</option>
															<option value="writer">작성자</option>
													</select></li>
													<li class="w80per"><input type="text" name="keyword">
													</li>
												</ul>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- .tbl-setting -->
							<div class="btn-c">
								<a href="javascript:;" class="btn-h52-blue searchBtn js-search">검색</a>
							</div>
						</form>
					</div>
					<div class="pc-switch">
						<div class="sect-hd">
							<h3>검색 결과</h3>
							<span> (미답변 : <em class="prd-total js-commentEmptyCnt">0</em>
								/ 총 : <em class="prd-total js-totalCnt">0</em>)
							</span>
						</div>
						<!-- .sect-hd -->

						<div class="sect-cont">
							<div class="tbl-list mt-20 js-inquiriesArea">
								<table class="board-table">
									<caption></caption>
									<colgroup>
										<col style="width: 108px">
										<col style="width: 95px">
										<col style="width: 79px">
										<col>
										<col style="width: 110px">
										<col style="width: 119px">
									</colgroup>
									<thead>
										<tr>
											<th style="width: 10%">답변여부</th>
											<th style="width: 5%">번호</th>
											<th style="width: 55%">문의내용</th>
											<th style="width: 15%">작성자</th>
											<th style="width: 15%">등록일</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="dto: ${inquiry_list}">
											<td style="width: 10%"><div th:switch="${dto.status}" class= "inquiry_status">
													<p th:case="0">미답변</p>
													<p th:case="1">답변완료</p>
												</div></td>

											<td style="width: 5%">[[${dto.inquiryNo }]]</td>
											<td style="width: 55%"><a
												th:href="@{inquiry_update(inquiryNo=${dto.inquiryNo})}">[[${dto.title}]]</a></td>
											<td style="width: 15%">[[${dto.id.name }]]</td>
											<td style="width: 15%">[[${#temporals.format(dto.createdAt,
												'yyyy-MM-dd HH:mm') }]]</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="pagination"></div>
						</div>
						<!-- .sect-cont -->
					</div>
				</div>




				<!--내용 입력 끝-->
			</main>
			<!--footer-->
			<th:block th:include="@{/layout/admin/includes/footer.html}"></th:block>
			<!--footer 끝-->
		</div>
		<!--content 끝-->
	</div>
	<!-- 본문 끝 -->
	<!--plugin-->
	<th:block th:include="@{/layout/admin/includes/plugin.html}"></th:block>
	<!--plugin끝-->
</body>
<script type="text/javascript" th:src="@{/js/board.js}"></script>

</html>