<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<th:block th:include="@{/layout/admin/includes/head.html}"></th:block>
<link rel="stylesheet" type="text/css" href="/css/board.css">
<!-- head 끝 -->
<body class="sb-nav-fixed">
	<!--header menu-->
	<th:block th:include="@{/layout/admin/includes/header.html}"></th:block>
	<!--header menu 끝-->
	<!-- 본문 -->
	<div id="layoutSidenav">
		<!--sidebar-->
		<th:block th:include="@{/layout/admin/includes/sidebar.html}"></th:block>
		<!--sidebar 끝-->
		<!--content-->
		<div id="layoutSidenav_content">
			<main>
				<!--내용 입력-->
				<div class="page-body">
					<div class="main-hd">
						<h2>공지사항관리</h2>
					</div>

					<div class="sect-cont mt-30">
						<button type="button"
							class="btn-h52-blue w180 mr-20 btn-add-notice"
							onclick="location.href = '/layout/admin/board/notice_write'">공지사항
							등록</button>
						<span class="fc-gray">FoodMarket 공지사항을 등록할 수 있습니다.</span>
					</div>
					<div class="sect-top mt-30">
						<form action="notice_list" method="get">
							<div class="list-container flex-center bd-b-gray">
								<span class="txt">키워드</span> <select name="keyword"
									class="arr-bg arr-size-small" id="keyword">
									<option value="notice_title">제목</option>
									<option value="notice_id">작성자</option>
								</select> <input type="text" name="searchKeyword"
									class="arr-bg arr-size-nomal" value=""> <span
									class="err">[[${errSearchKeyword}]]</span>
							</div>


							<div class="list-container flex-center">
								<span class="txt">등록일</span>
								<ul class="date-select flex-center">
									<li class="today btn-date">오늘</li>
									<li class="lastWeek btn-date">1주일</li>
									<li class="lastMonth btn-date">1개월</li>
								</ul>
								<div class="ms-3">
									<input type="date" name="selectStartDate"
										class="discount-calendar" id="selectStartDate"> <span
										class="sep">~</span> <input type="date" name="selectEndDate"
										class="discount-calendar" id="selectEndDate"> <span
										class="err">[[${errSelectStartDate}]]</span> <span class="err">[[${errSelectEndDate}]]</span>
								</div>
							</div>
							<div class="btn-c">
								<input type="submit"
									class="btn-h52-blue w180 mr-20 btn-add-notice search_btn"
									value="검색" />
							</div>
						</form>
					</div>
				</div>
				<div class="pc-switch">
					<div class="sect-hd">
						<h3>검색 결과</h3>
					</div>
					<!-- .sect-hd -->
					<form action="/notice_deleteOk" id="frm" method="get">
						<div class="sect-cont">

							<div class="px-4 result-container">
								<span class="pil-so ckCnt">0</span>개의 공지사항을 <select name="batch"
									class="arr-bg arr-size-3" disabled>
									<option value="batchDel">일괄삭제</option>
								</select> <input type="button" value="적용" class="apply">
							</div>

							<div class="tbl-list mt-20 js-inquiriesArea">
								<table class="notice-table">
									<caption></caption>
									<colgroup>
										<col style="width: 108px">
										<col style="width: 95px">
										<col style="width: 79px">
										<col>
										<col style="width: 110px">
										<col style="width: 119px">
									</colgroup>
									<thead>
										<tr>
											<th style="width: 5%"><input type="checkbox"
												id="checkbox" name="notice_allcheckbox" class="checkbox"
												onclick='selectAll(this)'></th>
											<th style="width: 5%">번호</th>
											<th style="width: 45%">제목</th>
											<th style="width: 15%">작성자</th>
											<th style="width: 10%">조회수</th>
											<th style="width: 20%">등록일</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="dto: ${list}">

											<!--<td style="width: 5%"><input type="checkbox"
												id="checkbox" name="notice_checkbox" class="checkbox batch"
												th:value="${dto.id.name}" onclick='checkSelectAll()' /></td>
											<td style="width: 5%">[[${dto.noticeNo }]]</td>
											<td style="width: 45%"><a
												th:href="@{notice_view(noticeNo=${dto.noticeNo})}">[[${dto.title}]]</a></td>
											<td style="width: 15%">[[${dto.id.name }]]</td>
											<td style="width: 10%">[[${dto.viewCnt }]]</td>
											<td style="width: 20%">[[${#temporals.format(dto.createdAt,
												'yyyy-MM-dd HH:mm') }]]</td> -->

											<td style="width: 5%"><input type="checkbox"
												id="checkbox" name="notice_checkbox" class="checkbox batch"
												th:value="${dto.noticeNo}"></td>
											<td style="width: 5%" th:text="${dto.noticeNo} "></td>
											<td style="width: 45%"><a
												th:href="@{notice_view(noticeNo=${dto.noticeNo})}">[[${dto.title}]]</a></td>
											<td style="width: 15%" th:text="${dto.id.name } "></td>
											<td style="width: 10%" th:text="${dto.viewCnt } "></td>
											<td style="width: 20%"
												th:text="${#temporals.format(dto.createdAt,
												'yyyy-MM-dd HH:mm') } "></td>

										</tr>
									</tbody>
								</table>
							</div>
							<!-- 							 <div class="tbl-side exec-bar mt-10 btn-delete-btn">
								<a class="btn btn-outline-dark btn-delete"
									onclick="boardDelete();">삭제</a>
							</div>
 -->
						</div>
					</form>
					<!-- .sect-cont -->
				</div>






				<!--내용 입력 끝-->
			</main>
			<!--footer-->
			<th:block th:include="@{/layout/admin/includes/footer.html}"></th:block>
			<!--footer 끝-->
		</div>
		<!--content 끝-->
	</div>
	<!-- 본문 끝 -->
	<!--plugin-->
	<th:block th:include="@{/layout/admin/includes/plugin.html}"></th:block>
	<script th:src="@{/js/board.js}"></script>
	<!--plugin끝-->
</body>
</html>