<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<th:block th:include="@{/layout/admin/includes/head.html}"></th:block>
<link rel="stylesheet" type="text/css" href="/css/board.css">
<th:block th:with="dto=${list[0]}" th:unless="${list == null} or ${#lists.size(list) <= 0 }">
<!-- head 끝 -->
<body class="sb-nav-fixed">
	<!--header menu-->
	<th:block th:include="@{/layout/admin/includes/header.html}"></th:block>
	<!--header menu 끝-->
	<!-- 본문 -->
	<div id="layoutSidenav">
		<!--sidebar-->
		<th:block th:include="@{/layout/admin/includes/sidebar.html}"></th:block>
		<!--sidebar 끝-->
		<!--content-->
		<div id="layoutSidenav_content">
			<main>

				<!--내용 입력-->
				<div class="page-body">
					<div class="main-hd">
						<h2>공지사항 수정</h2>
					</div>
				</div>


				<form name="frm" action="notice_updateOk" method="post"
					onsubmit="return chkSubmit()">
					<input type="hidden" name="noticeNo" th:value="${dto.noticeNo }" />

					<div class="mb-3 pl-30 pr-50">
						<label for="name">작성자:</label>
						<div class="border bg-light rounded p-2">[[${dto.id.name }]]</div>
					</div>
					<div class="mb-3 mt-3 pl-30 pr-50">
						<label for="title">제목:</label> <input type="text"
							class="form-control" id="subject" placeholder="제목을 입력하세요"
							name="title" th:value="${dto.title }">
					</div>
					<div class="mb-3 mt-3 pl-30 pr-50">
						<label for="content">내용:</label>
						<textarea class="form-control" rows="5" id="content"
							placeholder="내용을 입력하세요" name="content">[[${dto.content }]]</textarea>
					</div>

					<button type="submit" class="btn btn-outline-dark ml-30">수정완료</button>
					<button type="button" class="btn btn-outline-dark"
						onclick="history.back();">이전으로</button>
					<button type="button" class="btn btn-outline-dark"
						onclick="location.href='notice_list'">목록</button>
				</form>


				<!--내용 입력 끝-->
			</main>
			<!--footer-->
			<th:block th:include="@{/layout/admin/includes/footer.html}"></th:block>
			<!--footer 끝-->
		</div>
		<!--content 끝-->
	</div>
	<!-- 본문 끝 -->
	<!--plugin-->
	<th:block th:include="@{/layout/admin/includes/plugin.html}"></th:block>
	<!--plugin끝-->
</body>
</html>