<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<th:block th:include="@{/layout/user/includes/head.html}"></th:block>
	<link th:href="@{/css/user_product.css}" rel="stylesheet" />
<!-- head 끝 -->
</head>
<body>
    <div class="wrap">
        <!-- header -->
		<th:block th:include="@{/layout/user/includes/header.html}"></th:block>
        <!-- header 끝 -->
        
        <!-- section -->
        <!-- content 시작 -->
        <section>
            <!-- NEW -->
            <div class="container1">
                <div class="section_area box_inner">
                    <h2 id="product_head">NEW</h2>
                </div>
                <div class="product_list box_inner">
                    <div class="product_list_wrapper">
                        <ul class="product_new_menu">
                        	<th:block th:each="dto : ${newList}">
	                            <li class="product_new_item">
	                                <a th:href="@{/layout/user/product/view/} + ${dto.productNo}">
	                                    <img th:src="@{/ckUpload/productImages/product/} + ${dto.imageSave}">
	                                </a>
	                                <div>
		                                <div>
		                                    <span class="product_new_title">[[${dto.name}]]</span>
		                                </div>
	                                    <div class="priceWrap">
		                                    <span class="disCount" th:if="${dto.discount != 0}">
		                                    	[[${dto.discount}]][[${dto.exchangeRate == 'percent' ? '%' : '원'}]]
		                                    </span>
		                                    <span class="product_new_price" th:if="${dto.exchangeRate == 'percent'}">[[${#numbers.formatInteger((dto.price)*((100 - dto.discount)*0.01), 0, 'COMMA')}]]<span class="won">원</span></span> 
						            		<span class="product_new_price" th:if="${dto.exchangeRate == 'won'}">[[${#numbers.formatInteger(dto.price - dto.discount, 0, 'COMMA')}]]<span class="won">원</span></span> 
						            		<span class="product_new_price" th:if="${dto.exchangeRate != 'percent'} and ${dto.exchangeRate != 'won'}">
													[[${#numbers.formatInteger(dto.price, 0, 'COMMA')}]]<span class="won">원</span>
				            				</span>
	                                    </div>
	                                    <div>
	                                    	<span class="real_price" th:if="${dto.discount != 0}">
		                                    	[[${#numbers.formatInteger(dto.price, 0, 'COMMA')}]]원
	                                    	</span>
	                                    </div>
	                                </div>
	                            </li>
                        	</th:block>
                        </ul>
                    </div>
                    <div class="bx-controls">
                        <a class="bx-prev"></a>
                        <a class="bx-next"></a>
                    </div>
                </div>
            </div>
            <!-- NEW 끝 -->

            <!-- BEST 3 -->
            <div class="container2">
                <div class="section_area box_inner">
                    <h2 id="product_head">BEST 3</h2>
                </div>
                <div class="product_list box_inner">
                    <div class="product_list_wrapper">
                        <ul class="product_best_menu">
                        	<th:block th:each="dto : ${bestList}">
	                            <li class="product_best_item">
	                                <a th:href="@{/layout/user/product/view/} + ${dto.productNo}">
	                                    <img th:src="@{/ckUpload/productImages/product/} + ${dto.imageSave}">
	                                </a>
	                                <div class="product_best_content">
	                                    <div>
		                                    <span class="product_best_title">[[${dto.name}]]</span>
		                                </div>
	                                    <div class="priceWrap">
		                                    <span class="disCount" th:if="${dto.discount != 0}">
		                                    	[[${dto.discount}]][[${dto.exchangeRate == 'percent' ? '%' : '원'}]]
		                                    </span>
		                                    <span class="product_best_price">
		                                    	[[${#numbers.formatInteger((dto.price)*((100 - dto.discount)*0.01), 0, 'COMMA')}]]원
		                                    </span>
	                                    </div>
	                                    <div>
	                                    	<span class="real_price" th:if="${dto.discount != 0}">
		                                    	[[${#numbers.formatInteger(dto.price, 0, 'COMMA')}]]원
	                                    	</span>
	                                    </div>
	                                </div>
	                            </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- BEST 3 끝 -->
        </section>
        <!-- content 끝-->
        <!-- section 끝 -->
        
        <!-- footer -->
		<th:block th:include="@{/layout/user/includes/footer.html}"></th:block>
        <!-- footer 끝 -->
    </div>
    <!-- plugin -->
    <th:block th:include="@{/layout/user/includes/plugin.html}"></th:block>
    <script th:src="@{/js/includes.js}"></script>
    <!-- plugin 끝 -->
</body>
</html>