<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<th:block th:include="@{/layout/user/includes/head.html}"></th:block>
<!-- head 끝 -->

<body>
    <div class="wrap">
        <!-- header -->
		<th:block th:include="@{/layout/user/includes/header.html}"></th:block>
        <!-- header 끝 -->
        
        <!-- section -->
        <section>
        	<!-- 내용 입력 -->
        	<br><br><br><br><br><br>
        	<br><br><br><br><br><br>
        	<br><br><br><br><br><br>
        
        
        
        
        	<!-- 내용 입력 끝 -->
        </section>
        <!-- section 끝 -->
        
        <!-- footer -->
		<th:block th:include="@{/layout/user/includes/footer.html}"></th:block>
        <!-- footer 끝 -->
    </div>
    <!-- plugin -->
    <th:block th:include="@{/layout/user/includes/plugin.html}"></th:block>
    <!-- plugin 끝 -->
</body>

</html>