<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<th:block th:include="@{/layout/admin/includes/head.html}"></th:block>
<link th:href="@{/css/adminMember.css}" rel="stylesheet" />
<!-- head 끝 -->
<title>FoodMarket-운영자관리</title>
<body class="sb-nav-fixed">
	<!--header menu-->
	<th:block th:include="@{/layout/admin/includes/header.html}"></th:block>
	<!--header menu 끝-->
	<!-- 본문 -->
	<div id="layoutSidenav">
		<!--sidebar-->
		<th:block th:include="@{/layout/admin/includes/sidebar.html}"></th:block>
		<!--sidebar 끝-->
		<!--content-->
		<div id="layoutSidenav_content">
			<main>
				<!--내용 입력-->
				<div class=" px-4">
					<div class="mt-4 fs-5 fw-bold align-self-center">• 운영자 관리</div>
				</div>
				<div class="px-4 mb-5 mt-4">
					<div class="bg-white bd-gray">
						<div class="result-title-2">
							<input type="button" value="운영자 등록" class="apply2 text-white">
						</div>
						<div class="mt-30 table-wrap-2">
							<table class="product-table">
								<thead>
									<tr>
										<td style="width: 4%">No</td>
										<td style="width: 8%">이름</td>
										<td style="width: 8%">아이디</td>
										<td style="width: 12%">상품관리</td>
										<td style="width: 12%">주문관리</td>
										<td style="width: 12%">사용자관리</td>
										<td style="width: 10%">관리</td>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="dto : ${list}">
										<tr>
											<td><span th:text="${dto.uid}"></span></td>
											<td><span th:text="${dto.id}"></span></td>
											<td><span th:text="${dto.name}"></span></td>
											<td><span th:text="${dto.phoneNo}"></span></td>
											<td><span th:text="${dto.email}"></span></td>
											<td><span th:text="${dto.saveUpPoint}"></span></td>
											<td><input type="button" value="상세"
												class="applyDetail text-white"></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<!-- 운영자 등록 레이어 -->
				<div class="listDetailWrap-3">
					<div class="listDetail">
						<div class="DetailHeader">
							<h4>운영자 등록</h4>
						</div>
						<table class="listTable">
							<tr>
								<th>이름</th>
								<td><input type="text" class="edit" id="listName"
									 value="" /></td>
							</tr>
							<tr>
								<th>아이디</th>
								<td><input type="text" class="edit" id="listPhoneNo"
									 value="" /></td>
							</tr>
							<tr>
								<th>비밀번호</th>
								<td><input type="text" class="edit" id="listEmail"
									 value="" /></td>
							</tr>
							<tr>
								<th class="underth">권한</th>
								<td class="undertd"><input type="checkbox" id="checkbox" name="checkbox"
									class="checkbox" onclick='selectAll(this)'> 상품관리</td>
							</tr>

							<tr>
								<th class="underth"></th>
								<td class="undertd"><input type="checkbox" id="checkbox" name="checkbox"
									class="checkbox" onclick='selectAll(this)'> 사용자관리</td>
							</tr>

							<tr>
								<th class="underth"></th>
								<td class="undertd"><input type="checkbox" id="checkbox" name="checkbox"
									class="checkbox" onclick='selectAll(this)'> 게시판관리</td>
							</tr>

						</table>
						<div class="btm">
							<div class="btn-c">
								<a href="" class="btn-h52-blue">등록</a>
							</div>
						</div>
					</div>
				</div>


				<!-- 운영자 수정 레이어 -->
				<div class="listDetailWrap-4">
					<div class="listDetail">
						<div class="DetailHeader">
							<h4>운영자 수정</h4>
						</div>
						<table class="listTable">
							<tr>
								<th>이름</th>
								<td><input type="text" class="edit" id="listName"
									 value="" /></td>
							</tr>
							<tr>
								<th>아이디</th>
								<td><input type="text" class="edit" id="listPhoneNo"
									 value="" /></td>
							</tr>
							<tr>
								<th>비밀번호</th>
								<td><input type="text" class="edit" id="listEmail"
									 value="" /></td>
							</tr>
							<tr>
								<th class="underth">권한</th>
								<td class="undertd"><input type="checkbox" id="checkbox" name="checkbox"
									class="checkbox" onclick='selectAll(this)'> 상품관리</td>
							</tr>

							<tr>
								<th class="underth"></th>
								<td class="undertd"><input type="checkbox" id="checkbox" name="checkbox"
									class="checkbox" onclick='selectAll(this)'> 사용자관리</td>
							</tr>

							<tr>
								<th class="underth"></th>
								<td class="undertd"><input type="checkbox" id="checkbox" name="checkbox"
									class="checkbox" onclick='selectAll(this)'> 게시판관리</td>
							</tr>

						</table>
						<div class="btm">
							<div class="btn-c">
								<a href="" class="btn-h52-blue">수정</a>
							</div>
						</div>
					</div>
				</div>

				<!--내용 입력 끝-->
			</main>
			<!--footer-->
			<th:block th:include="@{/layout/admin/includes/footer.html}"></th:block>
			<!--footer 끝-->
		</div>
		<!--content 끝-->
	</div>
	<!-- 본문 끝 -->
	<!--plugin-->
	<th:block th:include="@{/layout/admin/includes/plugin.html}"></th:block>
	<!--plugin끝-->
</body>
</html>