<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<th:block th:include="@{/layout/user/includes/head.html}"></th:block>
<!-- head 끝 -->
<link th:href="@{/css/member.css}" rel="stylesheet">


<body>
	<div class="wrap">
		<!-- header -->
		<th:block th:include="@{/layout/user/includes/header.html}"></th:block>
		<!-- header 끝 -->

		<!-- section -->
		<section style="width: 100%; height: 100%">
			<form class="loginForm">
				<h2>아이디 찾기</h2>
				<div class="find_images">
					<img th:src="@{/images/find.png}" alt="">
				</div>
				<div th:if="${findId == null}">
                     고객님께서 입력하신 정보가<br> 정확한지 확인 후 다시 시도해주세요.<br>
					<a th:href="@{/layout/user/member/find_id}"><button
							type="button" class="btn1">아이디 다시 찾기</button></a>
				</div>
				<div th:unless="${findId == null}">
                     찾으시는 아이디는 [ [[${findId }]] ] 입니다.
                </div>
				<a th:href="@{/layout/user/member/login}"><button type="button"
						class="btn1">로그인 화면으로 돌아가기</button></a>
			</form>
		</section>
		<!-- section 끝 -->

		<!-- footer -->
		<th:block th:include="@{/layout/user/includes/footer.html}"></th:block>
		<!-- footer 끝 -->
	</div>
	<!-- plugin -->
	<th:block th:include="@{/layout/user/includes/plugin.html}"></th:block>
	<!-- plugin 끝 -->
</body>

</html>