<footer>
    <div class="foot_area box_inner">
        <ul class="foot_list">
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보취급방침</a></li>
        </ul>
        <h2>FoodMarket</h2>
        <p class="addr">충청북도 청주시 모충동 000빌딩 5층
            <span class="gubun">/</span>
            <span class="br_line">대표전화
                <span class="space0">043-1234-5678</span>
                <span class="gubun">/</span>
                <span class="br_line">E-mail:
                    <span class="space0">food@foodmarket.com</span>
                </span>
            </span>
        </p>
        <p class="copy box_inner">Copyright(c) FoodMarket all right reserved</p>
    </div>
</footer>