<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<th:block th:include="@{/layout/user/includes/head.html}"></th:block>
	<link th:href="@{/css/user_product.css}" rel="stylesheet" />
<!-- head 끝 -->
</head>
<body>
    <div class="wrap">
        <!-- header -->
		<th:block th:include="@{/layout/user/includes/header.html}"></th:block>
        <!-- header 끝 -->
        
        <!-- section -->
        <!-- content 시작 -->
        <section>
        	<div class="box_inner">
        		<div class="list_view_product">
        			<div class="product_view_image">
	            		<img th:src="@{/ckUpload/productImages/product/} + ${dto.imageSave}">
	            	</div>
	            	<div class="product_view_content">
			            <div class="product_view_table">
				            <div class="product_view_name_warp">
				            	<input type="hidden" th:value="${dto.productNo}" name="productNo" id="productNo">
				            	<span id="product_view_name">[[${dto.name}]]</span>
								<th:block th:unless="${#authorization.getAuthentication() != null and #authorization.expr('isAuthenticated()')}">
		            				<span class="lickCnt" id="product_no_view_lick"></span>
			            		</th:block>
			            		<th:block th:if="${#authorization.getAuthentication() != null and #authorization.expr('isAuthenticated()')}">
						           	<span class="lickCnt" id="product_view_lick"></span>
			            		</th:block>
				            	<span id="product_likeCnt"></span>
				            	<p class="short_desc">[[${dto.description}]]</p>
				            </div>
				            <p class="product_dcinfo">상품가격</p>
			            	<p class="product_price">
			            		<span class="position">
				            		<span class="dc">
				            			<span class="dc_price" th:if="${dto.exchangeRate == 'percent'}">[[${#numbers.formatInteger((dto.price)*((100 - dto.discount)*0.01), 0, 'COMMA')}]]<span class="won">원</span></span> 
				            			<span class="dc_price" th:if="${dto.exchangeRate == 'won'}">[[${#numbers.formatInteger(dto.price - dto.discount, 0, 'COMMA')}]]<span class="won">원</span></span> 
				            			<span class="dc_price" th:if="${dto.exchangeRate != 'percent'} and ${dto.exchangeRate != 'won'}">
				            				[[${#numbers.formatInteger(dto.price, 0, 'COMMA')}]]<span class="won">원</span>
				            			</span>
				            			<span class="dc_percent" th:if="${dto.discount != 0}">[[${dto.discount}]][[${dto.exchangeRate == 'percent' ? '%' : '원'}]]</span>
				            		</span> 
					            	<span class="price" th:if="${dto.discount != 0}">[[${#numbers.formatInteger(dto.price, 0, 'COMMA')}]]<span class="won">원</span></span>
			            		</span>
		            		</p>
			            </div>
			            <div class="product_view_table">
			            	<span class="product_view_menu">구매 수량</span>
			            	<div class="option">
				           		<span class="product_cnt">
				           			<input type="button" class="sub_btn">
				           			<input type="number" value="1" class="view_product_cnt" readonly="readonly" name="cnt" id="product_cnt">
				           			<input type="button" class="plus_btn">
				           		</span>
			            	</div>
			            </div>
			            <div class="total">
			            	<div class="price">
			            		<strong class="tit">총 상품금액 :</strong> 
			            		<span class="sum">
			            			<span class="num" th:if="${dto.exchangeRate == 'percent'}">[[${#numbers.formatInteger((dto.price)*((100 - dto.discount)*0.01), 0, 'COMMA')}]]</span> 
				            		<span class="num" th:if="${dto.exchangeRate == 'won'}">[[${#numbers.formatInteger(dto.price - dto.discount, 0, 'COMMA')}]]</span> 
				            		<span class="num" th:if="${dto.exchangeRate != 'percent'} and ${dto.exchangeRate != 'won'}">
				            			[[${#numbers.formatInteger(dto.price, 0, 'COMMA')}]]
				            		</span>
			            			<span class="won">원</span>
			            		</span>
			            	</div>
			            </div> 
			            <div class="product_view_submit">
		            		<th:block th:unless="${#authorization.getAuthentication() != null and #authorization.expr('isAuthenticated()')}">
		            			<input type="button" value="장바구니 담기" id="basket_no_login" class="basket">
		            		</th:block>
		            		<th:block th:if="${#authorization.getAuthentication() != null and #authorization.expr('isAuthenticated()')}">
					           	<input type="button" value="장바구니 담기" id="basket" class="basket">
		            		</th:block>
			            </div>
	            	</div>
        		</div>
        	</div>
        </section>
        <!-- content 끝-->
        <!-- section 끝 -->
        
        <!-- footer -->
		<th:block th:include="@{/layout/user/includes/footer.html}"></th:block>
        <!-- footer 끝 -->
    </div>
    <!-- plugin -->
    <th:block th:include="@{/layout/user/includes/plugin.html}"></th:block>
    <script th:src="@{/js/includes.js}"></script>
    <script type="text/javascript">
	    /* 상품 좋아요 */
		$('#product_view_lick').on('click', function() {
			var productNo = $("input[name='productNo']").val();
	    	$.ajax({
				url: "like/" + productNo,
				type: "get",
				contentType: "application/json; charset=utf-8",
				success: function(data) {
					console.log(data)
					if(data.ck) {
						$(".lickCnt").css("background", "url(/images/heart_color.png) no-repeat 50% 50%")
						$(".lickCnt").css("background-size", "30px 30px")
					} else {
						$(".lickCnt").css("background", "url(/images/heart.png) no-repeat 50% 50%")
						$(".lickCnt").css("background-size", "30px 30px")
					}
					$("#product_likeCnt").text(data.likeCnt);
				}
			});
		});
	    
	    (like = function() {
	    	var productNo = $("input[name='productNo']").val();
	    	$.ajax({
				url: "likeCk/" + productNo,
				type: "get",
				contentType: "application/json; charset=utf-8",
				success: function(data) {
					console.log(data)
					if(data.ck) {
						$(".lickCnt").css("background", "url(/images/heart_color.png) no-repeat 50% 50%")
						$(".lickCnt").css("background-size", "30px 30px")
					} else {
						$(".lickCnt").css("background", "url(/images/heart.png) no-repeat 50% 50%")
						$(".lickCnt").css("background-size", "30px 30px")
					}
					$("#product_likeCnt").text(data.likeCnt);
				}
			});
		})();
	    
		/* 비로그인 시 장바구니 클릭 */
		$("#product_no_view_lick").on("click", function() {
			alert("로그인을 하셔야 합니다.");
		});
		
		/* 비로그인 시 장바구니 클릭 */
		$("#basket_no_login").on("click", function() {
			alert("로그인을 하셔야 합니다.");
		});
    </script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    	let exchangeRate = /*[[${dto.exchangeRate}]]*/ 'percent';
    	let price = /*[[${dto.price}]]*/ 0;
    	let discount = /*[[${dto.discount}]]*/ 0;
    	
    	/* 수량 */
    	$('.sub_btn').on('click', function(){
    		var productCnt = $('.view_product_cnt').val();
    		if(productCnt <= 1) return;
    		$('.view_product_cnt').val(productCnt-1);
    		$('.num').text(change());
    	});
    	
    	$('.plus_btn').on('click', function(){
    		var productCnt = $('.view_product_cnt').val();
    		$('.view_product_cnt').val(Number(productCnt)+1);
    		$('.num').text(change());
    	});
    	
    	// 가격 변경
    	function change(){
    		var productCnt = $('.view_product_cnt').val();
    		var exPrice;
    		var totalPrice;
    		
    		if(exchangeRate == 'percent') exPrice = Number(price *(100-discount)*0.01);
    		else if(exchangeRate == 'won') exPrice = Number(price - discount);
    		else exPrice = Number(price);
    		
    		totalPrice = exPrice*productCnt
    		return totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    	}
	/*]]>*/
	</script>
    <!-- plugin 끝 -->
</body>
</html>